.skills {
  padding: 2rem;
  animation: slide-up 1s ease-out;
}

.skills h1 {
  text-align: center;
  color: aliceblue;
  font-size: 40px;
}

.skills_icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skills_icon img {
  width: 100px;
  height: auto;
  padding: 10px;
  margin: 5px;
}

.h2 {
  text-align: center;
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  margin-top: 60px;
}

.Lg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.Lg1 img{
  width: 400px;
}

.intranship,
.intranship2 {
  text-align: center;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  margin: 20px;
  color: #fff;
  width: 40vw;
  max-width: 80vw; /* Added max-width for responsiveness */
}
.intranship:hover {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4); /* Adjust shadow as needed */
  transform: scale(1.1);
}

.intranship2:hover {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4); /* Adjust shadow as needed */
  transform: scale(1.1);
}

.intranship img,
.intranship2 img {
  border-radius: 30px;
  width: 50%;
  height: auto;
  max-width: 100%;
}

@media (max-width: 768px) {
  .skills_icon {
    justify-content: center;
    gap: 10px;
  }

  .skills_icon img {
    width: 80px;
  }

  .Lg {
    justify-content: center;
    gap: 10px;
  }
  .Lg1 img{
    width: 60%;
  }

  .intranship,
  .intranship2 {
    margin: 10px;
  }
  .intranship p{
    color: black;
  }
}
